.background{
    background-image: url('https://wallpapercave.com/wp/EXhKahS.png');
    height: 730px;
    width: 1700px;
    margin:0;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left:0;
    
}

body{
    margin:0px;
    overflow:hidden;
}